# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtualenv
venv/
ENV/
.env/
env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Environment variables
*.env

# VSCode settings
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xmlgit rm -r --cached .
git add .
git commit -m "Add .gitignore and remove unnecessary files"

*.cover
*.py,cover
.hypothesis/

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# Static files
staticfiles/
media/

# IDEs and editors
*.swp
*.swo
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
